html, body, div,  p{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

html {
	background-color: #777;
	color: #eee;
}

#clockCanvas {
	background-color: #333;
	position: relative;	
}

body {
	font-family: helvetica, arial, sans-serif;
	line-height: 1.1;
	font-size: 14px;
	width: 400px;
	margin-top: 4em;
	background-color: #333;
	padding: 15px;
	position: relative;
	
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 10px 10px 10px #333;
	
	margin-left: auto ;
	margin-right: auto ;
	
	vertical-align:middle;
}
